div {
  width: 400px;
  margin: 40px auto;
  background: #eee;
  padding: 10px;
}

p {
  color: #000000;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: left;
  text-transform: none;
  text-indent: 40px;
}

ul {
  list-style-type: circle;
  list-style-position: outside;
  list-style: none;
}